/**
 * override
 */
#docs-editor-container {
    white-space: nowrap;
}
#docs-editor {
    display: inline-block;
    border-left: 1px solid #ccc;
}

.docs-sheet-container {
    height: auto !important;
}

.docs-sheet-outer-container {
    width: 170px !important;
}

.docs-sheet-container-bar {
    width: 150px !important;
    max-width: 150px !important;
    white-space: normal !important;
    padding: 0 !important;
    box-orient: vertical !important;
}

.docs-sheet-container-bar .docs-sheet-tab  {
    width: 150px !important;
    box-sizing: border-box !important;
}

.docs-sheet-container-bar .docs-sheet-tab .docs-sheet-tab-name {
    width: 100px !important;
    max-width: 100px !important;
    overflow: hidden !important;
    white-space: nowrap !important;;
    text-overflow: ellipsis !important;;
}

.docs-sheet-container-bar .docs-sheet-tab .docs-sheet-tab-color {
    width: 4px !important;
    height: 100% !important;
}


/**
 * Wrapper
 */
.sheets-left-tabs-wrapper {
    vertical-align: top;
    display: inline-block;
    width: 170px;
    white-space: normal;
}

/**
 * Search
 */
.sheets-left-tabs-wrapper .search-container {
    margin: 0.1em;
}
.sheets-left-tabs-wrapper .search-container input {
    margin: 0 0 0 0;
    box-sizing: border-box;
    font-size: 14px;
    line-height: 28px;
    width: 100%;
    padding-left: 0.3em;
    font-weight: 400;
}

/**
 * Buttons
 */
.sheets-left-tabs-wrapper .buttons-container {
    margin: 0.1em;
    overflow-y: auto;
    overflow-x: hidden;
    height: 100px;
}
.sheets-left-tabs-wrapper .buttons-container .left-tab-button {
    box-sizing: border-box;
    cursor: pointer;
    margin: 0 0 0 0;
    font-size: 14px;
    font-weight: 500;
    width: 100%;
    height: 28px;
    line-height: 28px;
    text-align: left;
    overflow: hidden;
    padding-left: 0.3em;
    border: 1px solid #e8eaed;
    border-left: 4px solid #ccc;
    color: #80868b;
}
.sheets-left-tabs-wrapper .buttons-container .left-tab-button:hover {
    background: #e8e8e8;
}
.sheets-left-tabs-wrapper .buttons-container .left-tab-button:active {
    background: #e5e5e5;
}
.sheets-left-tabs-wrapper .buttons-container .left-tab-button.loading {
    background: #e5e5e5;
}
.sheets-left-tabs-wrapper .buttons-container .left-tab-button.active {
    background: #ffffff;
    box-shadow: 0 1px 3px 1px rgba(60,64,67,.15);
    color: #188038;
}
.sheets-left-tabs-wrapper .buttons-container .left-tab-button.hide {
    display: none;
}
